body{
    background-color: cornflowerblue;
}

h1{
    font-size: 1.5rem;
    text-align: center;
}

h2{
    font-size: 1.25rem;
    text-align: center;
}

p{
    text-align: center;
}

.App{
    height: 100%;
}

.Header {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
}

.Header a{
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.screenshot{
    max-width: 100%;
    height: auto;
}