.App {
  text-align: center;
}

ul {
  margin:0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
}

.flex-horizontal{
  display: flex;
  flex-direction:row;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justifyCenter{
  justify-content: center;
}

.alignCenter{
  align-items:center ;
}

.spaceAround{
  justify-content: space-around;
}

.spaceBetween{
  justify-content: space-between;
}

.width100{
  width: 100%;
}

.max-width100{
  max-width: 100%;
}

.width50{
  width: 50%;
}

.width45{
  width: 45%;
}

.activePage{
  font-size: 1.25rem;
  font-weight: bold;
}

.borderRad25{
  border-radius: 25%;
}

.padding1REM{
  padding: 1rem;
}

.borderBottom{
  border-bottom: 1px solid;
}

.darkBackground{
  background-color: midnightblue;
  color: aliceblue;
}

.darkBackground a{
  color: aliceblue;

}

.lightBackground{
  background-color: lightcyan;
}

/* Media Queries for responsive design */

@media screen and (max-width: 700px) {

  .width45, .width50{
    width: 95%;
  }

  .flex-horizontal{
    flex-direction: column;
    align-items: center;
    
  }
  
}